<p style="color: green"><%= notice %></p>

<h1>Movies</h1>

<div id="movies">
  <% @movies.each do |movie| %>
    <%= render movie %>
    <%= render "category_rating", movie: movie %>
    <p>
      <%= link_to "Show this movie", movie %>
      <%= link_to "Rate this movie", new_movie_rating_path(movie) %>
    </p>
  <% end %>
</div>

<%= link_to "New movie", new_movie_path %>
