<p style="color: green"><%= notice %></p>

<%= render @movie %>

<div>
  <%= link_to "Edit this movie", edit_movie_path(@movie) %> |
  <%= link_to "Back to movies", movies_path %>

  <%= button_to "Destroy this movie", @movie, method: :delete %>
</div>

<%= render "rating_category", movie: @movie %>

<div id="ratings">
  <% @movie.ratings.each do |rating| %>
    <%= render rating %>
  <% end %>
</div>

<%= link_to "New rating", new_movie_rating_path(@movie) %>
